<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile of all</title>
</head><h1>みんなのプロフィール</h1>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <h3>ユーザー１</h3>
    <ul>
        <li>名前：{{user["name"]}}</li>
        <li>年齢：{{user["age"]}}</li>
        <li>性別：{{user["sex"]}}</li>
        <a href="{{url_for('edit_func')}}">プロフィールを編集する</a>
    </ul>
    {% endblock %}
    
</body>
</html>



